<!doctype html>
<html lang="en" dir="ltr">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
	<title></title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<link rel="stylesheet" href="/assets/styles/site.css?v={{ site.time | date: "%s" }}">
	
	<style></style>
	
</head>
<body>
	
	{{ content }}
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/assets/scripts/site.js?v={{ site.time | date: "%s" }}"></script>
	
	<script>
		
		$(function() {});
		
	</script>
	
</body>
</html>
