---
layout: default
---

{% for post in paginator.posts %}
	
	<article itemscope itemtype="http://schema.org/Article">
		
		{% include date.html %} | <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
		
	</article>
	
	{% if forloop.last %}{% else %}<hr>{% endif %}
	
{% endfor %}

{% include pagination.html %}

<hr>

<p><a href="https://api.github.com/orgs/rgpages/repos?callback=foo&amp;per_page=100&amp;page=1">GitHub API call</a></p>

<pre>{{ site.github }}</pre>

<h6>{{ site.github.project_title }}</h6>
